---
import { Image } from "astro:assets";
import Unknown_Image from "@images/unknown.svg";

interface Props {
  title: string;
  description: string;
  image?: ImageMetadata | undefined;
  background?: ImageMetadata | undefined;
  link: string;
}

const { title, description, image, link, background } = Astro.props;
---

<div class="rounded-xl bg-gradient-to-br from-amber-500 to-orange-500 p-1">
  <div
    class="relative flex h-full flex-col justify-between gap-4 rounded-lg bg-indigo-950 p-4 duration-150"
  >
    <div class="z-10 flex justify-center">
      <Image
        class="h-48 w-full max-w-[50%] rounded-lg object-contain"
        src={image ? image : Unknown_Image}
        alt={title}
        format="webp"
      />
    </div>
    <div class="z-10">
      <h3 class="pb-2 text-2xl font-semibold">{title}</h3>
      <p>
        {description}
      </p>
    </div>
    <div class="z-10 grid grid-cols-2 gap-4">
      <a
        href={link}
        class="flex items-center justify-center rounded-lg bg-gradient-to-r from-amber-500 to-orange-500 px-4 py-2 text-center font-semibold text-white transition duration-150 hover:text-indigo-950"
      >
        Réserve ta place !
      </a>
      <a
        href="https://www.facebook.com/events/2000290947160373"
        class="flex items-center justify-center rounded-lg border-2 border-orange-500 bg-indigo-950 px-4 py-2 text-center font-semibold text-white transition duration-150 hover:bg-opacity-20 hover:text-opacity-80"
      >
        Plus d'infos
      </a>
    </div>
    {
      background ? (
        <div class="absolute inset-0 h-full w-full">
          <Image
            class="h-full w-full overflow-hidden object-cover opacity-20"
            src={background}
            alt={title}
            format="webp"
          />
        </div>
      ) : null
    }
  </div>
</div>
